
@keyframes can{
    from{box-shadow: 10px 10px 30px rgb(0, 255, 0);}
    
    to{box-shadow: 10px 10px 30px rgb(200, 255, 0);}
}

canvas{
    animation-name: can;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

video{
    background-position: 625, 200;
}

#btn_shot:hover{
    background-color: chartreuse;
}
